/* Add your own CSS code below */

/*first*/

.countries--first {
  display: flex;
  flex-direction: row-reverse;
}

/* second */

.countries--second {
  display: flex;
  flex-direction: column;
}

/* third */

.countries--third {
  display: flex;
  flex-direction: column-reverse;
}
